@page "/"
@using Volo.Abp.MultiTenancy
@inherits TodoAppComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">
    <Card>
        <CardHeader>
            <CardTitle>
                待办事项
            </CardTitle>
        </CardHeader>
        <CardBody>
            <!-- FORM FOR NEW TODO ITEMS -->
            <form id="NewItemForm" @onsubmit:preventDefault @onsubmit="() => Create()" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                  <div class="input-group">
                    <input name="NewTodoText" type="text" @bind-value="@NewTodoText" class="form-control" placeholder="输入内容..." />
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">创建</button>
                </div>
            </form>
            <!-- TODO ITEMS LIST -->
            <ul id="TodoList">
                @foreach (var todoItem in TodoItems)
                {
                    <li data-id="@todoItem.Id">
                        <i class="far fa-trash-alt"
                           @onclick="() => Delete(todoItem)"
                           ></i> @todoItem.Text
                    </li>
                }
            </ul>
        </CardBody>
    </Card>
</div>
